:host {
  display: block;
}

::ng-deep {
  .card-header-right {
    position: absolute;
    left: 20px;
    top: 15px;
    z-index: 1;
  }
}

table th,
table td {
  vertical-align: middle;
}

.col-page-name {
  min-width: 220px;
}

.col-perm {
  width: 90px;
}

.col-actions {
  width: 60px;
}
