<!-- Vertical layout -->
@if (layout === 'vertical') {
  <app-scrollbar [customStyle]="{ height: 'calc(100vh - 127px)' }" id="nav-ps-mantis" appearance="compact">
    <div class="navbar-content">
      <ul class="nav coded-inner-navbar" (click)="fireOutClick()" (mouseleave)="navMob()">
        @for (item of navigation; track item) {
          @if (item.type === 'group') {
            <app-nav-group [item]="item"></app-nav-group>
          } @else if (item.type === 'collapse') {
            <app-nav-collapse [item]="item" [parentRole]="item.role!"></app-nav-collapse>
          } @else if (item.type === 'item') {
            <app-nav-item [item]="item" [parentRole]="item.role!"></app-nav-item>
          }
        }
      </ul>
      <div class="m-4 mb-0">
        <div class="card nav-card mb-0">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center">
              <img src="assets/images/user/avatar-group.png" alt="user" class="img-fluid" />
              <div class="m-t-20 text-center">
                <h5 class="mb-0">{{ 'NAVIGATION.HELP' | translate }}</h5>
                <span class="text-muted">{{ 'NAVIGATION.SUPPORT' | translate }}</span>
              </div>
              <div class="m-t-20 text-center">
                <button class="btn btn-primary">{{ 'NAVIGATION.SUPPORT' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-scrollbar>
  <div class="user-profile-section">
    <ul class="list-unstyled">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0 me-2">
          <div class="user-images">
            <img src="assets/images/user/avatar-1.jpg" alt="user" class="img-fluid rounded-circle" />
          </div>
        </div>
        <div class="flex-grow-1">
          <span>{{ this.authenticationService.currentUserName }}</span>
          <p class="mb-0 text-muted">{{ authenticationService.currentUserValue?.roles?.[0] || '' }}</p>
        </div>
        <div class="avatar avatar-xs btn-link-secondary" ngbDropdown>
          <i antIcon theme="outline" type="right" ngbDropdownToggle></i>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="logout()">{{ 'NAVIGATION.LOGOUT' | translate }}</button>
            <button ngbDropdownItem [routerLink]="['/user/user-profile']">{{ 'NAVIGATION.PROFILE' | translate }}</button>
            <button ngbDropdownItem [routerLink]="['/user/account-profile']">{{ 'NAVIGATION.MY_ACCOUNT' | translate }}</button>
          </div>
        </div>
      </div>
    </ul>
  </div>
} @else if (layout === 'horizontal') {
  <div class="navbar-content sidenav-horizontal" id="layout-sidenav">
    <a class="sidenav-horizontal-prev" [ngClass]="prevDisabled" (click)="scrollMinus()"></a>
    <div #navbarWrapper class="sidenav-horizontal-wrapper">
      <ul
        #navbarContent
        id="side-nav-horizontal"
        class="nav coded-inner-navbar sidenav-inner"
        (click)="fireLeave()"
        (mouseleave)="fireLeave()"
      >
        @for (item of navigation; track item) {
          @if (item.type === 'group') {
            <app-nav-group [item]="item"></app-nav-group>
          } @else if (item.type === 'collapse') {
            <app-nav-collapse [item]="item" [parentRole]="item.role!"></app-nav-collapse>
          } @else if (item.type === 'item') {
            <app-nav-item [item]="item" [parentRole]="item.role!"></app-nav-item>
          }
        }
      </ul>
    </div>
    <a class="sidenav-horizontal-next" [ngClass]="nextDisabled" (click)="scrollPlus()"></a>
  </div>
}

<!-- Compact Layout -->
<div class="navbar-content">
  @if (layout === 'compact') {
    <app-scrollbar [customStyle]="{ height: 'calc(100vh - 80px)' }" id="nav-ps-mantis" visibility="hover" [dir]="languageService.direction()">
      <ul class="nav coded-inner-navbar" (click)="fireOutClick()" (mouseleave)="navMob()">
        @for (item of navigation; track item) {
          @if (item.type === 'group') {
            <app-nav-group [item]="item" (showCollapseItem)="subMenuCollapse(item)"></app-nav-group>
          } @else if (item.type === 'collapse') {
            <app-nav-collapse [item]="item" [parentRole]="item.role!"></app-nav-collapse>
          } @else if (item.type === 'item') {
            <app-nav-item [item]="item" [parentRole]="item.role!"></app-nav-item>
          }
        }
      </ul>
    </app-scrollbar>
  }
</div>
@if (layout === 'compact') {
  @if (collapseItem) {
    <div class="pc-compact-submenu">
      <div class="pc-compact-title">
        <div class="d-flex align-items-center">
          <div class="flex-shrink-0">
            <div class="avatar avatar-xs bg-light-primary">
              <i antIcon [type]="collapseItem.icon | safeAntIcon" theme="outline"></i>
            </div>
          </div>
          <div class="flex-grow-1 ms-2">
            <h5 class="mb-0">{{ collapseItem.title }}</h5>
          </div>
        </div>
      </div>
      <div class="collapse-item">
        <app-scrollbar [customStyle]="{ height: 'calc(100vh - 70px)' }" visibility="hover" [dir]="languageService.direction()">
          @for (item of collapseItem.children; track item) {
            @if (item.type === 'item') {
              <!-- <app-nav-item [item]="item" [parentRole]="item.role && item.role.length > 0 ? item.role : null"></app-nav-item> -->
            } @else if (item.type === 'collapse') {
              <!-- <app-nav-collapse [item]="item" [parentRole]="item.role && item.role.length > 0 ? item.role : null"></app-nav-collapse> -->
            }
          }
        </app-scrollbar>
      </div>
    </div>
  }
}
